
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    background:  rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}
    #container1 {
      position: absolute;
      top: 100px;
      left: 60px;
      right: 100px;
      background: #0a8fb1c9;
      width: 90%;
      height: 80%;
      border-radius: 10px;
      text-align: center;
  
}
#p {
  font-size: xx-large;
}
body {
  background: #ffffff;
  font: normal 300 18px "Roboto", sans-serif;
}
 
#menu-nav {
  max-width: 400px;
  margin:  auto;
  background-color: #003f4e;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
 
#navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
}
#navigation-bar li {
  float: left;
  width: 33%;
}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color: #ffffff;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 100%;
  left: 100%;
  bottom: 0;
  height: 2px;
  background-color: #ffffff;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}
 
li {
    list-style: none;
}